In [13]:
import pandas as pd

df = pd.read_excel("C:/Users/Dell/Desktop/omproject/customer_shopping_.xlsx")
print(df)

     Customer ID  Age Item Purchased     Category  Purchase Amount   Location  \
0       CUST1000   21       Football       Sports          1908.86     Mumbai
1       CUST1001   57        Shampoo       Beauty          2907.75      Delhi
2       CUST1002   34       Rice Bag  Electronics          7373.60  Bangalore
3       CUST1003   34        T-shirt       Sports           669.61      Delhi
4       CUST1004   22       Rice Bag     Clothing          1165.95       Pune
...          ...  ...            ...          ...              ...        ...
9995   CUST10995   20       Rice Bag     Clothing          1541.40  Bangalore
9996   CUST10996   62       Rice Bag     Clothing          9939.49      Delhi
9997   CUST10997   54         Laptop     Clothing          4970.32  Bangalore
9998   CUST10998   33           Sofa  Electronics          7070.65      Delhi
9999   CUST10999   31        T-shirt    Groceries          4859.36     Mumbai

     Size   Color   Season  Review Rating Subscription Shipping Type  \
0       S   White  Monsoon            3.3          Yes       Express
1       L   Green   Winter            2.8          Yes      Same Day
2       S   Green   Summer            3.6           No       Express
3       L  Yellow   Autumn            1.2           No       Express
4       L   White  Monsoon            4.1           No      Same Day
...   ...     ...      ...            ...          ...           ...
9995    L   White   Summer            4.9          Yes      Same Day
9996   XL   Green   Spring            4.2          Yes       Express
9997    M   Black   Winter            1.3          Yes      Standard
9998    S  Yellow   Spring            4.1          Yes      Standard
9999    L   Green   Spring            1.3           No       Express

     Discount Promo Code  Previous Purchases    Payment Method  \
0                   NONE                  15        Debit Card
1                   NONE                  46  Cash on Delivery
2                  SALE5                  43               UPI
3                NEWUSER                   5               UPI
4                NEWUSER                  14       Net Banking
...                  ...                 ...               ...
9995             NEWUSER                  24       Net Banking
9996             OFFER20                  29               UPI
9997                NONE                  29       Net Banking
9998              DISC10                  26       Net Banking
9999              DISC10                  31               UPI

     Frequency of Purchases
0                     Daily
1                     Daily
2                Occasional
3                     Daily
4                     Daily
...                     ...
9995                Monthly
9996             Occasional
9997             Occasional
9998                  Daily
9999                 Weekly

[10000 rows x 16 columns]

In [12]:
df.describe(include='all')

,Customer ID,Age,Item Purchased,Category,Purchase Amount,Location,Size,Color,Season,Review Rating,Subscription,Shipping Type,Discount Promo Code,Previous Purchases,Payment Method,Frequency of Purchases
count,10000,10000.00000,10000,10000,10000.000000,10000,10000,10000,10000,10000.000000,10000,10000,10000,10000.000000,10000,10000
unique,10000,NaN,6,6,NaN,6,5,6,5,NaN,2,3,5,NaN,5,4
top,CUST10999,NaN,Rice Bag,Sports,NaN,Bangalore,XL,White,Summer,NaN,Yes,Standard,NONE,NaN,Cash on Delivery,Daily
freq,1,NaN,1738,1731,NaN,1715,2044,1715,2055,NaN,5000,3337,2052,NaN,2033,2538
mean,NaN,41.28470,NaN,NaN,5066.263890,NaN,NaN,NaN,NaN,2.985380,NaN,NaN,NaN,24.998600,NaN,NaN
std,NaN,14.00498,NaN,NaN,2844.919928,NaN,NaN,NaN,NaN,1.148125,NaN,NaN,NaN,14.652927,NaN,NaN
min,NaN,18.00000,NaN,NaN,100.080000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN
25%,NaN,29.00000,NaN,NaN,2584.555000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,12.000000,NaN,NaN
50%,NaN,41.00000,NaN,NaN,5080.830000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,25.000000,NaN,NaN
75%,NaN,54.00000,NaN,NaN,7510.865000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,38.000000,NaN,NaN
max,NaN,65.00000,NaN,NaN,9997.590000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,50.000000,NaN,NaN

In [13]:
df.isnull().sum()

Customer ID               0
Age                       0
Item Purchased            0
Category                  0
Purchase Amount           0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription              0
Shipping Type             0
Discount Promo Code       0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [14]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [15]:
df.isnull().sum()

Customer ID               0
Age                       0
Item Purchased            0
Category                  0
Purchase Amount           0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription              0
Shipping Type             0
Discount Promo Code       0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [16]:
if __name__ == '__main__':
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')
    df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [17]:
df.columns

Index(['customer_id', 'age', 'item_purchased', 'category', 'purchase_amount',
       'location', 'size', 'color', 'season', 'review_rating', 'subscription',
       'shipping_type', 'discount_promo_code', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [18]:
# create a column age_group

labels =['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'],q=4, labels=labels)

In [19]:
df[['age','age_group']].head(10)

   age    age_group
0   21  Young Adult
1   57       Senior
2   34        Adult
3   34        Adult
4   22  Young Adult
5   39        Adult
6   21  Young Adult
7   25  Young Adult
8   51  Middle-aged
9   27  Young Adult

In [37]:
# create  column purchase_frequency_days

frequency_mapping = {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Daily':90,
    'Occasional':14,
    'Annually':365,
    'Every 3 Month':90
}
df['purchase_frequency_days']= df['frequency_of_purchases'].map(frequency_mapping)

In [38]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       90                  Daily
1                       90                  Daily
2                       14             Occasional
3                       90                  Daily
4                       90                  Daily
5                       14             Occasional
6                        7                 Weekly
7                        7                 Weekly
8                       30                Monthly
9                       30                Monthly

In [39]:
# Define a mapping dictionary
frequency_mapping = {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Daily':90,
    'Occasional':14,
    'Annually':365,
    'Every 3 Month':90
}

# Fill missing values using the mapping
df['purchase_frequency_days'] = df['purchase_frequency_days'].fillna(
    df['frequency_of_purchases'].map(frequency_mapping)
)

In [57]:
df = df.astype(str)
df = df.fillna('discount_promo_code')

In [58]:
df[['discount_promo_code','promo_code_used']].head(10)

  discount_promo_code promo_code_used
0                NONE              no
1                NONE              no
2               SALE5             Yes
3             NEWUSER             Yes
4             NEWUSER             Yes
5             NEWUSER             Yes
6                NONE              no
7              DISC10             Yes
8              DISC10             Yes
9             NEWUSER             Yes

In [59]:
print(df.columns.tolist())

['customer_id', 'age', 'item_purchased', 'category', 'purchase_amount', 'location', 'size', 'color', 'season', 'review_rating', 'subscription', 'shipping_type', 'discount_promo_code', 'previous_purchases', 'payment_method', 'frequency_of_purchases', 'age_group', 'purchase_frequency_days', 'promo_code_used']

In [60]:
(df['discount_promo_code'] == df['promo_code_used']).all()

np.False_

In [61]:
df = df.drop('promo_code_used', axis=1)

In [10]:
df.columns

NameError: name 'df' is not defined

In [1]:
import pymysql

conn = pymysql.connect(
    host="127.0.0.1",
    user="root",
    password="root@10",
    database="customer_behavior"
)
print("✅ Connected successfully using PyMySQL!")
conn.close()

✅ Connected successfully using PyMySQL!

In [16]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus   # password मध्ये '@' असल्याने encoding आवश्यक

# MySQL details
username = "root"
password = quote_plus("root@10")    # @ मुळे error येतो म्हणून encode केलं
host = "localhost"
port = 3306
database = "customer_behavior"

# ✅ EXACT तुझ्या style मध्ये — MySQL साठी connection string
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# टेबल नाव
table_name = "customer_behavior"

# DataFrame → MySQL
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"Data Successfully inserted into table {table_name} in database {database}")

Data Successfully inserted into table customer_behavior in database customer_behavior